name: Deploy to Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-and-log:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy and Tail Logs
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          command_timeout: 5m 
          script: |
            echo "Starting Deployment..."
            
            # Run the script. Adjust path if it is not in the home directory.
            sh /home/${{ secrets.USERNAME }}/local_deploy.sh
            
            # Check exit status of the script
            if [ $? -eq 0 ]; then
               echo "Deployment script finished successfully."
            else
               echo "Deployment script failed!"
               exit 1
            fi

            echo "Waiting 5 seconds for service to stabilize..."
            sleep 5
            
            echo "Fetching recent logs for ghcnd-api..."
            sudo journalctl -u ghcnd-api -n 100 --no-pager
